{% extends "base.html" %}

{% block announce %}
  <div style="background: #ffffff; color: #878484; border-radius: 0.5rem; padding: 0.05rem 0.5rem 0.05rem 0.5rem;">Beware, there is no funding for the creation of an applied artificial intelligence team; external volunteers will build on the items herein.  All items are available under <a href="https://mit-license.org" target="_blank">MIT Licence</a>.  Extensive thanks to Amazon Web Services for funding the projects. [Data Science Team / Artificial Intelligence Unit / Scottish Government]</div><br>
{% endblock %}
