
td {
    word-wrap: break-word;
}

div.md-sidebar--primary {
    width: 225px;
}

.md-typeset .grid {
    grid-gap: 2.1rem;
}

.md-typeset h1 {
    font-variant: small-caps;
}

.md-typeset h2 {
    font-variant: small-caps;
    font-weight: bolder;
    color: #423f3fe8;
}

.md-tabs__item {
    height: 2.99rem;
}
